.bestsellers {
    margin: 80px 0;

    &-top__title {
        margin-bottom: 20px;
        @include text(normal, 600, 34px, 130%, $not-that-black);

    }

    &-card {
        // // text-align: center;
        // display: flex;
        // flex-direction: column;
        width: 278px;
        height: 416px;
        margin-top: 16px;
        // background: #FFFFFF;
        // /* BG/E8E9EA */

        // border: 1px solid #E8E9EA;


        &__pic {
            background: #FFFFFF;
            /* BG/E8E9EA */

            border: 1px solid #E8E9EA;
        }

        &__bottom {
            background: #FFFFFF;
            /* BG/E8E9EA */

            border: 1px solid #E8E9EA;

            padding: 16px;

            &-text {
                width: 246px;
                height: 72px;
                margin-bottom: 12px;
                @include text(normal, 500, 16px, 150%, $not-that-black);
            }

            &-price {
                width: 246px;
                height: 28px;
                margin-bottom: 16px;

                @include text(normal, 700, 20px, 140%, $black);
            }

            &-btn {
                background: #FCEC41;
                padding: 12px 80px;
                border: none;
                display: inline-block;
                @include text(normal, 500, 18px, 136%, $black);

            }
        }
    }
}